.wraper {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    display: grid;

    border-radius: .5em;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card {
    padding: 1.75em;
    line-height: 1.5;

    display: grid;
    gap: 1em;
}

.card_one {
    color: var(--clr-blue);
    background-color: white;
}

.card_one h2 {
    color: var(--clr-cyan);
    font-weight: var(--fw-bold);
}

.card_one-p-green {
    color: var(--clr-yellow);
    font-weight: var(--fw-bold);
}

.card_two {
    color: var(--clr-gray);
    background-color: var(--clr-cyan);

    gap: .5em;
}

h3 {
    color: white;
}

.price {
    color: hsla(204, 43%, 93%, .5);
}

.card_two span {
    color: white;
    font-size: 2rem;
}

.btn {
    background-color: var(--clr-yellow);
    color: white;
    border-radius: .5em;
    padding: 1em;
    border: none;
    font-weight: var(--fw-bold);

    margin-top: 1.25em;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn:hover {
    opacity: .8;
    cursor: pointer;
}

.card_three {
    background-color: var(--clr-cyan-light);
    color: var(--clr-gray);

    padding-right: 5em;;
}

@media (max-width:800px) {
    .container {
        width: 90%;
        max-width: 450px;
        margin-inline: auto
    }
}

@media (min-width:800px) {
    .card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
        max-width: 630px;
    }
}