.wraper {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    display: grid;

    max-width: 630px;
    padding: 0 2em;
}

.card {
    padding: 1.75em;
    line-height: 1.5;

    display: grid;
    gap: 1.25em;
}

.card_one {
    color: var(--clr-blue);
    background-color: white;
}

.card_one h2 {
    color: var(--clr-cyan);
    font-weight: var(--fw-bold);
}

.card_one-p-green {
    color: var(--clr-yellow);
    font-weight: var(--fw-bold);
}

.card_two {
    color: var(--clr-gray);
    background-color: var(--clr-cyan);
}

h3 {
    color: white;
}

.card_two span {
    color: white;
    font-size: 2rem;
}

.btn {
    background-color: var(--clr-yellow);
    color: white;
    border-radius: .5em;
    padding: 1em;
    border: none;
    font-weight: var(--fw-bold);
}

.card_three {
    background-color: var(--clr-cyan-light);
    color: var(--clr-gray);
}

@media (min-width:800px) {
    .card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}